@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;700&display=swap');

.c-nav {
position: fixed;
  top: 0;
  width: 100%;

  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #0F0E11;
  opacity: 0.80;

  display: flex;
  justify-content: center;
  gap: 10px;
}

.c-nav__item { 
    text-decoration: none;
 display: block;
  color: #FFFFFF;
  text-align: center;
  padding: 14px 16px;
  
}

.c-nav__item:hover{
    font-weight: bold;
}

ul li a#active {
  font-weight: bolder;
}

.c-nav__link {
    display: block;
    text-decoration: none;
  color: #FFFFFF;
}

hr {
  height: 6px;
  background-color: #9EC456;
  border: none;
}
